:root {
    --primary-color: #91C04C;
    --secondary-color: #2b3b14;
}

@font-face {
    font-family: 'Equilibrium';
    src: url('./fonts/CHE-EQUI.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Equilibrium', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

canvas {
    border: 4px solid var(--secondary-color);
    margin: 0 auto;
    display: block;
}

.game_results {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    width: 100%;
}

.game_results p {
    text-transform: uppercase;
    font-size: 34px;
}

.menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    display: none;
}

.menu-title {
    font-size: 48px;
    color: white;
    margin-bottom: 20px;
}

.play-button {
    font-size: 24px;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.play-button:hover {
    background-color: #91B04C;
}

.sound_toggle {
    cursor: pointer;
    position: fixed;
    border: none;
    background-color: transparent;
    outline: none;
    top: 18px;
    right: 18px;
    width: 32px;
    height: 32px;
}

.sound_toggle img {
    width: 100%;
    height: 100%;
}